body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
header {background-color: rgba(231, 251, 116, 1);}
img {height:15vh;}

.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

ul {
  margin:0;
  padding:0;
  list-style-type: none;
  display: flex;
  flex-direction:row;
}

ul li {
  flex: 1 0 auto;
  text-align:center;
}
    
nav ul {
  flex-direction:row;
  justify-content:space-around;
}

.w3-content {
  padding-top: 55px;
}

i#fb:hover {
  color: #3b5998;
}

i#ig:hover {
  color: #bc2a8d;
}

i#sc:hover {
  color: #ffff00;
}

i#twit:hover {
  color: #00aced;
}

i#yt:hover {
  color: #ff0000;
}

