/* STYLE FOR ELEMENTS */
h1,h2,h3,h4,h5,h6 {font-family: "Hind", sans-serif}
h1 {
  line-height: .9
    }

header {background-color: #72A3CB;}
/* img class
img {height:12vh;}
*/
p {font-family: 'Ubuntu', sans-serif;}

.w3-bar,h1,button {
  font-family: "Chau Philomene One", sans-serif
}

ul {
  margin:0;
  padding:0;
  list-style-type: none;
  display: flex;
  flex-direction:row;
  z-index:1;
}

ul li {
  flex: 1 0 auto;
  text-align:center;
  
}
    
nav ul {
  flex-direction:row;
  justify-content:space-around;
}



/* STYLE FOR CLASSES */
.mainlogodiv {
  position:fixed;
  z-index:2;
  top:-20;
}

.mainlogo {
  height:170px;
    z-index:2;
  top:-20;
  
}



.navicon {
  height:12vh;
  z-index:2;
}

.spincap {
  height: 15vh;
}

.fa-anchor,.fa-coffee {font-size:200px}

.body-text {color: black;}

.footer-text {}

.infographic {height:30vh}
   
.w3-content {padding-top: 40px;}

.header-img {width: 100%;
}

/* STYLE FOR ID'S */

#trio {height:45vh}

#bp {height:45vh}

#contact-info-list {
  list-style-type: none;
  display: list-item;
  margin-left: 50px; 
}



/* Mobile */
@media only screen and (max-width: 500px){
  #trio {width:100%;
  margin:1;
  }

#bp {width:90vw
}

#header-img {width:100%;
margin:-2
}

.infoleft {
  float:left;
  z-index:-1
}

.inforight {
  float:right;
  z-index:1
}

}
  
/* comment out header @media 
@media only screen and (min-height: 420px){
 #header-img {height:15vh}
}

/* Style for Link to Store button */
.border{
    position:absolute;
    background:none;
    transition:all .5s ease-in-out;
}

button{
  width:200px;
  height:80px;
  position:relative;
  background:rgba(173, 173, 173, 0.35);
  text-transform:uppercase;
  color:rgba(224, 0, 0, 0.8);
  font-weight:700;
  letter-spacing:1px;
  border:none;
  font-size:15px;
  outline:none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.buttonBox{
  position:relative;
}


#link-to-store>.border:nth-of-type(1){
  top:0;
  left:50%;
  width:0;
  border-top:1.5px solid rgba(224, 0, 0, 0.59);
}

#link-to-store>.border:nth-of-type(2){
  bottom:0;
  left:50%;
  width:0;
  border-bottom:1.5px solid rgba(224, 0, 0, 0.59);
}

#link-to-store:hover .border{
  width:200px;
  transform:translate(-100px, 0);
}

button:hover {
  cursor: pointer;
}
/* End of button style */



/* Settings for Social Media Icons */
i#fb:hover {color: #3b5998;}
i#ig:hover {color: #bc2a8d;}
i#sc:hover {color: #ffff00;}
i#twit:hover {color: #00aced;}
i#yt:hover {color: #ff0000;}

#sc, #ig, #fb, #twit, #yt {
    cursor: pointer;
    transition: 0.3s;
}
/* End of Social Media Icons */



/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }  
}
